baserom.us.z64
sm64.us
sm64_headless.us
*.tmp.so
target/
__pycache__
.venv
.vscode
build/
dist/
tmp_so/

sm64game/sm64env/build
rust_crypto/sm64_headless.us
prod
prod2
blockchain_data
rom
*.wasm
*.m64